@using Microsoft.WindowsAzure.Storage.Blob
@model IEnumerable<IListBlobItem>

@{
    ViewBag.Title = "title";
}

<h2>Blob Demo</h2>

@Html.ActionLink("Add File", "Add", "BlobDemo")

<br />

@foreach (IListBlobItem item in Model)
{
    <img src="@item.Uri" />
    <br />
}


